.class1{
    color:red;
}

textarea{
    width:500px;
    height:200px;
    resize: both;
    overflow: auto;
    
}

body{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.class2{
   margin-left:240px;
}

lable{
   font-weight: bold;
}

input{
   padding: 5px;
}

.class3{
   font-size:x-large;
}

.class4{
   width:30%;
   height:auto;
   border: 1px solid transparent;
   padding:20px 20px;
   background-color: rgba(218, 213, 213, 0.973);
}

input[name="lastname"]{
   margin-left: 20px;


}

input[type="reset"]{
   margin-left: 20px;


}

img{
   position: absolute;
   left:250px;
   opacity:0.4;
      top:139px;
}



