*,::before, ::after {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing:border-box ;
}
/*font style*/
.font-star {
   color:red;
}

body {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

lable {
   font-weight: bold;
}

.font-lable {
   font-size:large;
}
/*input style*/
input {
   border-radius: 0%;
   padding:5px;
   border:1px solid rgba(189, 184, 184, 0.973);
}
/*form background style*/
.background {
   width:100%;
   height:auto;
   padding:20px 20px;
   background-color: rgba(218, 213, 213, 0.973);
}
/*input Reset*/
input[type="reset"] {
   margin-left: 20px;
   font-weight: bold;
   background-color: rgba(218, 213, 213, 0.973) ;
   color:black;
   border:1px solid rgba(189, 184, 184, 0.973);
   padding:10px;
   font-family: cursive;
}
/*input Submit*/
input[type="submit"] {
   font-weight: bold;
   background-color: rgba(218, 213, 213, 0.973) ;
   color:black;
   border:1px solid rgba(189, 184, 184, 0.973);
   padding:10px;
   font-family: cursive;
}
/*input email style*/
input[type="email"] {
   width:100%;
}

.box-email {
   width:100%;  
}
/*input first name style*/
input[id="fnam"] {
   width:100%;
   margin-top:1%;
   margin-bottom: 1%;
}
/*input last name style*/
input[id="lnam"] {
   width:100%;
   margin-top:1%;
   margin-bottom: 1%;
}
/*message box*/
.message {
   width:100%;
}

textarea {
   width:100%;
   padding:5px;
   height:200px;
   resize: both;
   overflow: auto;    
}

@media only screen and (min-width:590px) {
   /*container*/
   .container::after {
      clear:both;
      display:table;
      content:"";
   }

   .background {
      width:75%;
   }
   /*input first name style*/
   .box-name {
      width:50%;
      float:left;
   }
   /*input Last name style*/
   .box-last {
      width:50%;
      float:left;
      padding-left:10px
   }
}   
   
@media only screen and (min-width:790px) {
   .background {
      width:50%;
   }

   .container::after {
      clear:both;
      display:table;
      content:"";
   }

   .box-name {
      width:50%;
      float:left;
   }

   .box-last {
      width:50%;
      float:left;
      padding-left:10px
   }          
}

@media only screen and (min-width:1170px) {
   .background { 
      width:30%;
   }

   .container::after {
      clear:both;
      display:table;
      content:"";
   }
     
   .box-name {
      width:50%;
      float:left;
   }

   .box-last {
      width:50%;
      float:left;
      padding-left:10px
   }     
}

@media only screen and (min-width:1900px) {
   .background {
      width:20%;
   } 

   .container::after {
      clear:both;
      display:table;
      content:"";
   }

   .box-name {
      width:50%;
      float:left;
   }

   .box-last {
      width:50%;
      float:left;
      padding-left:10px
   }
}




   












































